# See https://docs.github.com/get-started/getting-started-with-git/ignoring-files for more about ignoring files.

# Build Output & Cache
/dist
/tmp
/out-tsc
/bazel-out
/coverage
/.angular/
.sass-cache/
*.tsbuildinfo

# Dependencies
/node_modules
/package-lock.json
/yarn.lock
/typings

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/connect.lock
/libpeerconnection.log
testem.log

# IDEs and Editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code specific (allow some files)
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/

# Environment files
/.env

# Miscellaneous
/e2e/test-output/
__screenshots__/
.angular-cli.json
.ng/

# System Files
.DS_Store
Thumbs.db
